<h1>Add a NEW Thanksgiving recipe!</h1>
<%= form_for @recipe do |f| %>
  <%= f.label :name, 'Recipe Name:  ....dropdown?' %>
   <%# <%= f.collection_select :recipe_id, Recipe.all, :id, :name, prompt: true %> 
   <%# ^^^^^^^^^^^^^why???? %>
  <br />
  </div>

  <div>
      <%= f.label :ingredients, 'Select from popular ingredients:' %><br>
      <%= f.collection_check_boxes :ingredient_ids, @ingredients, :id, :name %>
  </div>
    <br>

  <div>
    <%= f.label :ingredient_ids, 'Add a new ingredient:' %>
    <br>
    <%= f.text_field :ingredient_ids %>
    <br>
    <br>
  </div>

  <div>
    <%= f.label :instructions, 'Add instruction notes:' %>
      <br>
    <%= f.text_field :instructions %>
      <br>
      <br>
  </div>

  <%= f.submit %>
<% end %>

