<h1>My Recipes</h1>
<div class= "container">
  <div class="row row-cols-4">
    <% @recipes_claimed.each do |recipe| %>
      <div class="card col" style="width: 18rem; margin: 10px 10px;">
        <%= image_tag(recipe.image, class: "img-thumbnail card-img-top mx-auto d-block", style: 'width: 10rem') if recipe.image.attached? %>
        <div class="text-center card-body">
          <h5 class="card-title"><%= link_to recipe.name, recipe %></h5>
          <p class="card-text">
            <%= form_for recipe do |form| %>
            <%= form.hidden_field :user_id, value: nil %>
            <%= form.submit "Un-claim this recipe" %>
          <% end %>
          </p>
        </div>
      </div> <br>
    <% end %>
  </div>
</div>